[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
langchain-pinecone = "*"
langchain-ollama = "*"
pypdf = "*"
flask = "*"
flask-cors = "*"
psycopg2-binary = "*"
pgvector = "*"
pymupdf = "*"
rapidocr-onnxruntime = "*"

[dev-packages]

[requires]
python_version = "3.11"
