[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
langchain-pinecone = "*"
langchain-ollama = "*"
pypdf = "*"
psycopg2-binary = "*"
pgvector = "*"
pymupdf = "*"
rapidocr-onnxruntime = "*"
fastapi = "*"
uvicorn = "*"
python-multipart = "*"
pytesseract = "*"
pypdfium2 = "*"
python-dotenv = "*"
transformers = "*"
python-docx = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.11"
